/* Base styles for overall layout and visibility */
body {
    color: white;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    overflow-x: hidden;
    position: relative;
    background: #333; /* Assuming a dark theme; adjust as necessary */
}

#image-container {
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    position: fixed;
    top: 1.5%; /* Adjusted for better visibility */
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000; /* Ensure it's above other elements */
}

#image {
    width: 75vw; /* Adjusts width to 50% of the viewport width */
    max-width: 20rem; /* Ensures the image does not exceed a width of 300px */
    height: auto; /* Maintains the aspect ratio */
    margin: 0 auto; /* Centers the image and removes negative margin */
    margin-top: 10px;;
}

#progress-container {
    position: fixed;
    top: 49%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; /* Utilize majority of viewport width */
    max-width: 800px; /* Limit max width for larger screens */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 15px; /* Increase gap for clearer separation */
}

.progress-section {
    width: 100%; /* Ensure section uses full container width */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

.color-label {
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 36px; /* Adjusted for consistency */
    color: white; /* Ensure visibility against the background */
}

.progress-bar-container {
    display: flex; /* Use flexbox to layout progress bar and timer */
    align-items: center; /* Center items vertically */
    width: 100%;
    padding-right: 10px; /* Provide space for the timer */
    background-color: rgba(64, 64, 64, 0.5); /* Background of the container for visibility */
    border-radius: 5px;
    position: relative; /* Positioning context for absolute positioning inside */
    overflow: hidden;
}

.progress-bar {
    height: 100px;
    transition: width 0.5s ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FFF;
    background-color: #000; /* Initial background color, will be overwritten by JS */
    width: 100%; /* Initial width, will be dynamically adjusted by JS */
}

.timer {
    margin-left: auto; /* Push the timer to the right */
    padding: 0 10px; /* Spacing */
    white-space: nowrap;
    position: absolute; /* Position the timer to stick to the right of the container */
    right: 0;
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 56px; /* Adjusted for consistency */
    color: white; /* Ensure visibility against the background */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.75); /* Horizontal offset, vertical offset, blur radius, color */
}

#local-time-container {
    position: fixed;
    bottom: -1%;
    width: 100%;
    text-align: center;
    font-size: 8vw; /* Use viewport width units for font size */
    color: white; /* White text color */
    font-family: "futura-pt-bold", sans-serif;
    font-weight: 700;
    font-style: normal;
    z-index: 1000; /* Ensure it's visible above other elements */
}

.background-black { background-color: #000; }
.background-orange { background-color: #ffa500; }
.background-silver { background-color: #c0c0c0; }
.background-pink { background-color: #ffc0cb; }
.background-blue { background-color: #0000ff; }
.background-gold { background-color: #bca900; }
.background-purple { background-color: #800080; }
.background-yellow { background-color: #ffff00; }
.background-red { background-color: #ff0000; }
.background-green { background-color: #008000; }
